$primary: #325d72;
$navbar-light-active-color: white;
$enable-gradients: true;
$enable-shadows: true;
$font-family-sans-serif: helvetica, arial, freesans, clean, sans-serif;
$link-decoration: none;
@import "bootstrap";

