{{ $site_data := index .Site.Data .Site.Language.Lang }}
{{ $homepage_data := $site_data.homepage }}
<div class="container-md bg-light d-none d-print-block">
  <div class="row">
    <div class="col-3">
      <ul class="list-unstyled">
        {{ with site.Params.email }}<li><a href="mailto:{{ . }}"><i class="ti-email text-primary"></i> {{ . }}</a></li>{{ end }}
        <li><a href="tel:{{ site.Params.mobile }}"><i class="ti-mobile text-primary"></i>{{ site.Params.mobile }}</a></li>
        <li><a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a></li>
      </ul>
    </div>
    <div class="col-9 text-center">
      <h2>{{ with site.Params.author }}{{ . }}{{ end }} - {{ .Title }}</h2>
    </div>
  </div>
</div>
<header class="{{if site.Params.navbar.stickytop}}sticky-top {{end}}bg-light d-print-none">
  <nav id="navbar" class="navbar navbar-expand-lg px-3">
    <div>
      <h2><a href="#">{{ .Title }}</a></h2>
      <div class="row">
        <div class="col-3 text">{{ with site.Params.author }}{{ . }}{{ end }}</div>
        <div class="col-9">
          <ul class="list-inline">
            {{ with site.Params.email }}<li><a href="mailto:{{ . }}"><i class="ti-email text-primary"></i> {{ . }}</a></li>{{ end }}
            <li class="list-inline-item"><a href="tel:{{ site.Params.mobile }}"><i class="ti-mobile text-primary"></i></a></li>
            {{ range site.Params.social }}
            <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navigation">
      <i class="ti-menu"></i>
    </button>
    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav nav-pills mx-auto">
        {{ with $homepage_data.about }}
        <li class="nav-item">
          <a class="nav-link" href="#about">{{ i18n "about_title" }}</a>
        </li>
        {{ end }}
        {{ with $homepage_data.experience }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#experience" role="button" aria-haspopup="true" aria-expanded="false">{{ i18n "experiences" }}</a>
          <div class="dropdown-menu">
            {{ range . }}
            <a class="dropdown-item" href="#experiences-{{ anchorize .when }}">{{ .when }} - {{ .where }}</a>
            {{ end }}
          </div>
        {{ end }}
        {{ with $homepage_data.personally }}
        <li class="nav-item">
          <a class="nav-link" href="#personally">{{ i18n "personally" }}</a>
        </li>
        {{ end }}
        {{ with $homepage_data.formations }}
        <li class="nav-item">
          <a class="nav-link" href="#formations">{{ i18n "formations" }}</a>
        </li>
        {{ end }}
        {{ with $homepage_data.languages }}
        <li class="nav-item">
          <a class="nav-link" href="#languages">{{ i18n "languages" }}</a>
        </li>
        {{ end }}
        <li class="nav-item">
          <a class="nav-link" href="#footer">{{i18n "contact" }}</a>
        </li>
      </ul>
      <div class="btn-group" role="group">
          {{- $siteLanguages := site.Languages -}}
          {{- $pageLang := .Page.Lang -}}
          {{- range .Page.AllTranslations -}}
            {{- $translation := . -}}
            {{- range $siteLanguages -}}
              {{- if eq $translation.Lang .Lang -}}
                {{- $selected := false -}}
                {{- if eq $pageLang .Lang -}}
                  <a href="{{ $translation.Permalink }}" class="btn btn-primary disabled">{{ .LanguageName }}</a>
                {{- else -}}
                  <a href="{{ $translation.Permalink }}" class="btn btn-primary">{{ .LanguageName }}</a>
                {{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
      </div>
    </div>
  </nav>
</header>